

// fonts
$font-simple:'Montserrat-Regular';
$font-curve:'Akaya-Telivigala';

$font-text: $font-simple;
$font-heading: $font-text;

// colors
$color-primary : #48426d;   //blue
$color-secondary: #ff577f;  //pink
$color-grey: #b8b8b8;
