

.page-main-editor-main-rows-row-containers-container-field{
  // border: 5px solid red;
  width: 100%;
}

.page-main-editor-main-rows-row-containers-container-field-textarea{
  border: 0px;
  border-top: 1px solid $color-grey;
  padding: 5px;
  padding-top: 10px;
  width: 100%;
  height: auto;
  outline: 0px;
  min-width: 100%;
  max-width:100%;
}

.page-main-editor-main-rows-row-containers-container-field-heading{
  font-size: 24px;
}


//*******************************
//image

.page-main-editor-main-rows-row-containers-container-image{

}

  .page-main-editor-main-rows-row-containers-container-image-img_cont{
    text-align: center;
    // padding-top: 10px;
    // padding-bottom: 10px;
  }

  .page-main-editor-main-rows-row-containers-container-image-message{

  }

    .page-main-editor-main-rows-row-containers-container-image-message-text{
      text-align: center;
      padding: 10px;
      font-size: 24px;
      font-family: $font-text;
    }

  .page-main-editor-main-rows-row-containers-container-image-menu{
    border-top: 1px solid $color-grey;
    padding: 10px;
    text-align: right;
  }

    .page-main-editor-main-rows-row-containers-container-image-menu-img{
      height: 25px;
      width: 25px;
      cursor: pointer;
    }

  .page-main-editor-main-rows-row-containers-container-image-editor{
    text-align: center;
  }

    .page-main-editor-main-rows-row-containers-container-field-image-editor-input{
      border: 2px solid $color-grey;
      width: 90%;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px;
      outline: 0px;
    }

    .page-main-editor-main-rows-row-containers-container-field-image-editor-button{
      background-color: $color-primary;
      color:white;
      width: 50%;
      border-radius: 10px;
      border: 0px;
      padding: 5px;
      font-size: 24px;
      font-family: $font-text;
      margin: 10px;
    }
